/* Шрифты */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600&display=swap');

/* normalize */
*{
	padding: unset;
  margin: unset;
  border: unset;
  outline: unset;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  color: #3C3C3B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; }
body { background-color: #ffffff; }
ul, ol, li, a, p, span, strong, i, em, div, section {
  font-size: inherit;
  font-weight: inherit;
  color:inherit;
}
img { display: block; width: 100%; }
a { text-decoration: none; }
strong, b { font-weight: 600; }
i, em { font-style: italic; }
ul, ol, li, button, span { display: block; }
button, a { cursor: pointer; }

/* Хэдер */
.header{
  background-color: #3C3C3B;
  width: 100%;
}

.header__section-top{
  border-bottom: 1px solid #4C4C4C;
}

.header__top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.34375rem;
  color: #C8C8C8;
  font-size: .7291rem;
  line-height: .8333rem;
}

.header__top__section{
  margin-right: 2.9687rem;
}

.header__top__section-adress{
  margin-right: unset;
}

.header__top__adress,
.header__top__phone,
.header__top__email{
  display: flex;
  align-items: center;
}

.header__top__phone .link::after{
  content: ',\a0';
}

.header__top__phone .link:last-child:after{
  content: unset;
}

/* Слайдер */

.slider{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.slider__section__text{
  margin-left: 20.2083rem;
  margin-top: 7.9166rem;
}
.section__text__header{
  width: 17.9166rem;
  font-weight: 300;
  font-size: 2.0833rem;
  line-height: 2.4479rem;
  letter-spacing: -0.052rem;
  margin-bottom: 1.3020rem;
}
.section__text__body{
  width: 21.5104rem;
  font-size: 0.9375rem;
  line-height: 1.3541rem;
  letter-spacing: -0.026rem;
}
.slider__section__gray-area{
  position: absolute;
  display: flex;
  left: 46.3541rem;
  top: 20.2083rem;
}
.gray-area__section__block{
  width: 15.625rem;
  height: 7.5rem;
  background:#9DAFBD;
  margin-right: 2.0833rem;
}
.section__block__white-text{
  font-size: 0.9375rem;
  line-height: 1.3541rem;
  letter-spacing: -0.026rem;
  color: white;
}
.section__block__advantages{
  margin-top: 3.3854rem;
  margin-left: 1.4062rem;
}
.section__block__service{
  margin-left: 1.4062rem;
  margin-top: 1.4583rem;
  margin-bottom: 0.5208rem;
}
.section__block__website__container{
  display: flex;
  justify-content: center;
}
.website__container__website{
  font-size: 0.9375rem;
  line-height: 1.1979rem;
  padding: 0.9375rem 4.0103rem;
  box-sizing: border-box;
  border: 0.052rem solid #FFFFFF;
  color: white;
}
.website__container__website:hover{
  color: white;
  text-decoration: none;
}
.section__img_pic{
  width: 49.375rem;
  height: 30.4166rem;
}



/* оставить внизу + все идентичное сюда же */
.container--main {
  max-width: 59.375rem; 
  margin: 0 auto;
  position: relative;
}

/* Иконки */
.icon{
  height: .8333rem;
  width: .8333rem;
  margin-right: .625rem;
}

.icon--adress{
width: .625rem;
}

.icon--buderus{
  height: 1.1979rem;
  width: auto;
  margin: unset;
}

/* Текст */
.text--logo{
  font-size: .6770rem;
  letter-spacing: -.0156rem;
  line-height: .7812rem;
  padding-bottom: .5rem;
}

/* BOOTSTRAP */

.navbar{padding: 1.0416rem 0}
.navbar-brand{
  color: #ffffff;
  background-color: #002D59;
  padding: 2.7083rem 1.0416rem;
  position: absolute;
  left: 0;
  z-index: 1;
}

.navbar-brand:hover{
  text-decoration: unset;
  color: #ffffff;
}

.navbar-collapse{
  justify-content: center;
  margin-left: 4.8rem;
}

.nav-link{
  color: #ffffff;
  font-weight: bold;
  font-size: .9375rem;
  line-height: 1.0937rem;
  padding: 0 1.3020rem !important; 
}
p{
  margin:0rem;
}