/* Шрифты */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600&display=swap");

/* normalize */
* {
  padding: unset;
  margin: unset;
  border: unset;
  outline: unset;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  color: #3c3c3b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-weight: unset;
}
html,
body {
  height: 100%;
}
body {
  background-color: #ffffff;
}
ul,
ol,
li,
a,
p,
span,
strong,
i,
em,
div,
section {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  margin: unset;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  color: #9dafbd;
  text-decoration: unset;
}
strong,
b {
  font-weight: 600;
}
i,
em {
  font-style: italic;
}
ul,
ol,
li,
button,
span {
  display: block;
}
button,
a {
  cursor: pointer;
}

/* Хэдер */
.header {
  background-color: #3c3c3b;
  width: 100%;
}

.header__section-top {
  border-bottom: 0.052rem solid #4c4c4c;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.34375rem;
  color: #c8c8c8;
  font-size: 0.7291rem;
  line-height: 0.8333rem;
}

.header__top__section {
  margin-right: 2.9687rem;
}

.header__top__section-adress {
  margin-right: unset;
}

.header__top__adress,
.header__top__phone,
.header__top__email {
  display: flex;
  align-items: center;
}

.header__top__phone .link::after {
  content: ",\a0";
}

.header__top__phone .link:last-child:after {
  content: unset;
}

/* Слайдер1 */

.slider {
  display: flex;
}

.slider__section-text {
  padding: 7.9166rem 0 10.8333rem;
}

.owl-carousel--main {
  width: 49.375rem;
  height: 32.5rem;
}

.slider__section-slider {
  position: relative;
  right: -9rem;
}

.slider__section-tables {
  position: absolute;
}

.slider .owl-nav {
  position: absolute;
  left: -30.5rem;
  bottom: 2.6562rem;
}

.owl-prev span,
.owl-next span {
  font-size: 1.5rem;
  height: 2.0833rem;
  width: 2.0833rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.25rem;
  box-sizing: border-box;
}

.owl-prev span {
  color: #9dafbd;
  background-color: #ededed;
}

.owl-next span {
  color: #ffffff;
  background-color: #002d59;
}

/* Преимущества */
.main__section-advantages {
  background-color: #002d59;
}

.advantages {
  padding: 1.5625rem 0 2.0833rem;
}

.advantages__section-title {
  text-align: center;
  padding: 0 0 2.0833rem;
}

.advantages__section-items {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item__section-icon {
  padding-bottom: 1.0416rem;
}

.advantages__item__section-description {
  color: #ffffff;
  font-size: 0.7291rem;
  text-align: center;
  max-width: 13.2812rem;
}

.advantages__item__section-title {
  padding-bottom: 0.3645rem;
}

/* Специфика предлагаемого оборудования */
.specs {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5625rem 0 2.0833rem;
  justify-content: space-between;
  align-items: center;
}

.specs__section-description {
  width: 25.7812rem;
}

.specs__section-title {
  padding: 0 0 2.0833rem;
}

.owl-carousel--spec {
  width: 30.625rem;
  height: 24.0104rem;
}

.specs .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}

.specs .owl-dot span {
  background: #9dafbd !important;
}

.specs .owl-dot.active span {
  background: #002d59 !important;
}

/* Комплекты */
.main__section-kits {
  background-color: #f9f9f9;
}

.kits {
  padding: 1.5625rem 0 2.0833rem;
}

.kits__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kits__select__form {
  display: flex;
  flex-direction: column;
}

.kits__select__item {
  width: 23.4375rem;
  height: 3.125rem;
  font-size: 0.8333rem;
  color: #3c3c3b;
  border: 0.052rem solid #373737;
  border-radius: unset;
  padding: 1.0416rem;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  margin: 0 0 1.0416rem 0;
  position: relative;
  background: url("../img/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  cursor: pointer;
}

.kits__section-title {
  padding: 0 0 1.302rem 0;
}

.kits__section-description {
  padding: 0 0 2.6041rem 0;
}

.kits__section-tabs {
  padding: 0 0 2.6041rem 0;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tabs__tab {
  color: #a1aeb7;
  line-height: 2rem;
  font-size: 0.9375rem;
  background-color: unset;
  cursor: pointer;
}

.tabs__tab__input[type="radio"] {
  display: none;
}

.tabs__tab.active {
  border-bottom: 0.052rem solid #002d59;
  color: #002d59;
}

.owl-carousel--kits {
  width: 30.5729rem;
  height: 23.177rem;
  overflow: hidden;
}

.kits .owl-dots {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}

.kits .owl-dot span {
  background: #9dafbd !important;
}

.kits .owl-dot.active span {
  background: #002d59 !important;
}

.kits__select__price {
  font-size: 2.0833rem;
  line-height: 2.4479rem;
  color: #373737;
  font-weight: 300;
  padding: 0.5208rem 0 1.5625rem;
  letter-spacing: -0.052rem;
}

.kits__select__price::after {
  content: " рублей";
}

.kits__select__price::before {
  content: "от ";
}

.kits__progress {
  margin: 0 0 7rem 1.5rem;
}

.kits__proress__stage {
  height: 0.3125rem;
  width: 0.3125rem;
  border-radius: 100%;
  background-color: #9dafbd;
  left: 0.25rem;
  position: relative;
}

.kits__proress__stage-one {
  position: relative;
  width: 0.4166666666666667rem;
  height: 0.4166666666666667rem;
  background-color: #002d59;
}

.kits__proress__stage-one::after {
  content: "";
  position: absolute;
  border-left: 0.052rem solid #9dafbd;
  padding-bottom: 4.2rem;
  left: 0.121rem;
  z-index: -1;
}

.kits__proress__stage-two {
  margin-top: 3.6458rem;
  position: relative;
}

.kits__proress__stage-two::after {
  content: "";
  position: absolute;
  border-left: 0.052rem solid #9dafbd;
  padding-bottom: 3.5rem;
  left: 0.121rem;
  z-index: -1;
}

.kits__proress__stage-three {
  margin-top: 2.75rem;
}

.kits__proress__stage-three::after {
  content: "";
  position: absolute;
  border-left: 0.052rem solid #9dafbd;
  padding-bottom: 2rem;
  left: 0.121rem;
  z-index: -1;
}

.kits__proress__stage-four {
  margin-top: 1.55rem;
}

.kits__proress__stage-four::after {
  content: "";
  position: absolute;
  border-left: 0.052rem solid #9dafbd;
  padding-bottom: 3.5rem;
  left: 0.121rem;
  z-index: -1;
}

.kits__proress__stage-five {
  margin-top: 3rem;
}

.kits__stage--active {
  width: 0.4166666666666667rem;
  height: 0.4166666666666667rem;
  background-color: #002d59;
}

.kits__stage--active::after {
  border-left: 0.052rem solid #002d59;
}

/* Акция */

.stock {
  padding: 1.5625rem 0 2.0833rem;
}

.stock__section-title {
  padding: 0 0 1.302rem;
}

.stock__section-description {
  padding: 0 0 1.5625rem 0;
}

.stock__section-items {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2.6041rem 0;
}

.stock__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 8.6458rem;
  box-sizing: border-box;
}

.stock__item:hover {
  box-shadow: 0 0 1.0416rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: unset;
}

.stock__item__description {
  padding: 0.7812rem;
  background-color: #eff0f1;
}

.stock__item__description__old-price {
  text-decoration-line: line-through;
  font-size: 0.7291rem;
  padding: 0 0 0.5208rem 0;
  line-height: 0.8333rem;
}

.stock__item__description__old-price:after {
  content: " руб.";
}

.stock__item__description__price {
  font-size: 0.9375rem;
  line-height: 1.0937rem;
  color: #002d59;
}
.stock__item__description__price::after {
  content: " руб.";
}

/* Не нашли подходящий для вас комплект? */

.main__section-feedback {
  background-color: #002d59;
}

.feedback {
  padding: 1.5625rem 0 2.0833rem;
}

.feedback__section-title {
  padding: 0 0 1.302rem;
  text-align: center;
}

.feedback__section-description {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 0 1.5625rem 0;
}

.feedback__section-policy {
  display: flex;
  justify-content: center;
}

.feedback__form {
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.5625rem 0;
}

/* Инфо */

.info {
  padding: 2.6041rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__item {
  width: 28.28125rem;
  font-size: 0.9375rem;
  line-height: 1.4583rem;
}

.info__item--big {
  color: #002d59;
  font-size: 1.5104rem;
  line-height: 2.3958rem;
  font-weight: 300;
  width: 26.71875rem;
}

/* Станции биологической очистки волгарь */
.main__section-product {
  background-color: #f9f9f9;
}

.product {
  padding: 1.5625rem 0 2.0833rem;
}

.product__section-title {
  padding: 0 0 1.302rem;
}
.product__section-slider {
  padding: 0 0 1.5625rem;
}

.product__slider__image {
  width: 13.75rem;
  height: 16.3541rem;
}

.product__slider__title {
  padding: 0 0 0.78125rem 0;
  font-size: 0.9375rem;
  line-height: 1.09375rem;
  text-transform: uppercase;
}

.product__slider__description {
  padding: 0.8854rem 0.78125rem;
  background-color: #eff0f1;
}

.product__slider__price {
  color: #002d59;
  font-size: 1.25rem;
}
.product__slider__price::after {
  content: " руб.";
}

.owl__item--product {
  display: block;
}

.owl__item--product:hover {
  box-shadow: 0px 0px 1.0416rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: unset;
}

.product .owl-nav {
  position: absolute;
  width: 110.2%;
  left: -3rem;
  display: flex;
  justify-content: space-between;
  bottom: 10rem;
}

/* Контакты */

.contacts {
  padding: 3.125rem 0;
  display: flex;
}

.contacts__section-map {
  width: 30.5729rem;
  height: 19.8437rem;
  padding: 0 3.125rem 0 0;
}

.contacts__content__item {
  display: flex;
}

.contacts__content__item--email {
  padding: 0 0 1.5625rem 0;
}

.contacts__content__item__links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 0 0.5208rem 0;
}

/* Футер */
.footer {
  background-color: #3c3c3b;
}

.footer__section-bottom {
  background-color: #3c3c3b;
  border-top: 0.052rem solid #4c4c4c;
}

/* оставить внизу + все идентичное сюда же */
.container--main {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

/* Картинки */

.img--stock-item {
  width: 8.6458rem;
  height: 9.1666rem;
}

/* Иконки */
.icon {
  height: 0.8333rem;
  width: 0.8333rem;
}

.icon--adress {
  width: 0.625rem;
  margin-right: 0.625rem;
}

.icon--phone {
  margin-right: 0.625rem;
}

.icon--email {
  margin-right: 0.625rem;
}

.icon--buderus {
  height: 1.1979rem;
  width: auto;
}

.icon--experience {
  height: 2.9687rem;
  width: 2.9687rem;
}

.icon--garantee {
  height: 3.4895rem;
  width: 3.4895rem;
}

.icon--price {
  height: 3.0729rem;
  width: 3.0729rem;
}

.icon--sertificates {
  height: 7.0833rem;
  width: 5.1562rem;
}

.icon-inText {
  display: inline !important;
  width: unset !important;
  vertical-align: middle;
}

.icon--contacts-email,
.icon--contacts-phone {
  margin: 0.2rem 0.677rem 0 0;
  height: 1.0416rem;
  width: 1.0416rem;
}

/* Заголовки */

h1,
h2 {
  font-size: 2.0833rem;
  font-weight: 300;
  line-height: 2.4479rem;
  letter-spacing: -0.052rem;
}

h3 {
  font-size: 1.0416rem;
  line-height: 1.3541rem;
  letter-spacing: -0.026rem;
}

h4 {
  font-size: 0.8333rem;
  line-height: 0.9895rem;
}

.title {
  color: #ffffff;
}

.title--main {
  color: #373737;
  width: 17.9166rem;
  line-height: 2.4479rem;
  padding: 0 0 1.302rem 0;
}

.title--specs,
.title--kits,
.title--stock,
.title--product,
.title--contacts {
  color: #3c3c3b;
}

.title--specs-description {
  color: #002d59;
  line-height: 1.6145rem;
  font-weight: 600;
  padding-bottom: 0.2604rem;
}

.title--stock-item {
  color: #3c3c3b;
  padding-bottom: 2.5rem;
}

.title--contacts {
  padding: 0 0 2.0833rem 0;
}

/* Текст */
.text--bold {
  font-weight: 600;
}

.text--slider-main {
  width: 21.5104rem;
  font-size: 0.9375rem;
  line-height: 1.3541rem;
  letter-spacing: -0.026rem;
}

.text--logo {
  font-size: 0.677rem;
  letter-spacing: -0.0156rem;
  line-height: 0.7812rem;
  padding-bottom: 0.5rem;
}
.text--specs-description {
  padding: 0 0 1.302rem 0;
  font-size: 0.8333rem;
  line-height: 1.25rem;
}

.text--kits-description,
.text--stock-description {
  font-size: 0.8333rem;
  line-height: 1.25rem;
}

.text--stock-text {
  color: #b4b4b4;
  font-size: 0.8333rem;
  line-height: 1.3541rem;
  text-align: center;
}

.text--product {
  font-size: 0.8333rem;
  line-height: 1.3541rem;
  text-align: center;
  color: #b4b4b4;
}

.text--feedback-description-big {
  font-size: 0.9375rem;
  color: #ffffff;
  line-height: 1.3541rem;
  text-align: center;
  padding: 0 0 0.7812rem 0;
}

.text--feedback-description,
.text--feedback-policy {
  font-size: 0.72916rem;
  color: #ffffff;
  line-height: 1.0416rem;
  text-align: center;
  max-width: 33.6458rem;
}

.text--contacts {
  padding: 0 0 0 1.7187rem;
  color: #9dafbd;
  font-size: 0.8333rem;
  line-height: 1.3541rem;
}

.text--footer-bottom {
  color: #b4b4b4;
  font-size: 0.7291rem;
  line-height: 1.3541rem;
  padding: 0.625rem;
  text-align: center;
}

.text--kits__select {
  font-size: 0.8333rem;
  line-height: 0.9895rem;
  color: #3c3c3b;
  padding: 0 0 1.0416rem 0;
}

.text--kits__select__bottom {
  color: #9dafbd;
  font-size: 0.7291rem;
  letter-spacing: -0.026rem;
  width: 22.6562rem;
  line-height: 1.0937rem;
  padding: 0.9375rem 0 0 0;
}

/* Ссылки */

.link--feedback-policy {
  text-decoration: underline;
}

.link--contacts-phone {
  padding: 0 0 0.5208rem 0;
  font-size: 0.9375rem;
  line-height: 1.3541rem;
  color: #373737;
}
.link--contacts-email {
  font-size: 0.9375rem;
  line-height: 1.3541rem;
  color: #373737;
}
.link--contacts-phone:nth-child(3)::after {
  content: " (телефон сервисной службы)";
}

.link--policy {
  font-size: 0.625rem;
  color: #b4b4b4;
  text-decoration: underline;
}

/* Инпуты */

.input {
  padding: 1.0416rem 0.7812rem;
  box-sizing: border-box;
  font-size: 0.7291rem;
  border: 0.052rem solid #d1dbe3;
  line-height: 0.8333rem;
  height: 3.125rem;
}

.input::placeholder {
  color: #9dafbd;
}

.input--mail {
  width: 17.1875rem;
}
.input--name {
  width: 13.6979rem;
}
.input--message {
  width: 13.6458rem;
}

/* Кнопки */

.button {
  padding: 1.0416rem 3.0208rem;
  font-size: 0.8333rem;
  line-height: 0.9895rem;
  display: inline;
  height: 3.125rem;
  box-sizing: border-box;
  cursor: pointer;
}

.button--form {
  background-color: #002d59;
  border: 0.052rem solid #ffffff;
  color: #ffffff;
  font-weight: bold;
}

.button--kits__select {
  background-color: #002d59;
  color: #ffffff;
}
