@media screen and (max-width: 1200px) {
  * { font-size: 1.6vw; }
  .container--main {
    max-width: unset;
    margin: 0 1.5625rem;
    position: relative;
  }
}
@media screen and (min-width: 1200px) {
  * { font-size: 19.2px; }
}
